.setting-content {
  border-radius: 2px;
  padding: 16px 16px;
  margin-bottom: 16px;
  position: relative;
}

.titleicon img {
  width: 60%;
  height: 60%;
}
.titlediv {
  margin-top: 15px;
  margin-bottom: 15px;
}
